.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.home-text {
  color: #ff00a8;
  align-self: center;
  text-align: center;
}
.home-text01 {
  font-size: 20px;
}
.home-text02 {
  font-size: 20px;
}
.home-text05 {
  font-size: 20px;
}
.home-image {
  width: 200px;
  object-fit: cover;
}
.home-text09 {
  color: #ffffff;
  align-self: center;
  text-align: center;
}
@media(max-width: 991px) {
  .home-text {
    color: #ff00a8;
    align-self: center;
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-text {
    color: #ff00a8;
  }
  .home-text01 {
    font-size: 20px;
  }
  .home-text02 {
    font-size: 20px;
  }
  .home-text05 {
    font-size: 20px;
  }
  .home-text09 {
    color: rgb(255, 255, 255);
  }
}
@media(max-width: 479px) {
  .home-container {
    background-color: #000000;
  }
  .home-text {
    color: rgb(255, 0, 168);
    align-self: center;
    text-align: center;
  }
  .home-text01 {
    font-size: 20px;
    align-self: center;
  }
  .home-text02 {
    font-size: 20px;
  }
  .home-text03 {
    font-size: 20px;
  }
  .home-text04 {
    font-size: 20px;
  }
  .home-text05 {
    font-size: 20px;
  }
  .home-text09 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 0px;
    text-transform: capitalize;
  }
}
